@model List<UpdateProductImageDto>

@{
    ViewData["Title"] = "ProductImageDetail";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<div class="container-fluid pt-4 px-4">
    <div class="col-12">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Ürün Görsel Güncelle</h6>
            <div class="table-responsive">


                <form method="post">
                    @foreach (var item in Model)
                    {
                        <input type="hidden" readonly class="form-control" asp-for="@item.ProductImageId" />
                        <label>
                            Görsel 
                        </label>
                        <input type="text" class="form-control" asp-for="@item.Image" />

                        <div class=" pt-2">
                            <button class="btn btn-primary"> Güncelle </button>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>

