<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="~/img/vendor1.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/img/vendor2.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/img/vendor3.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/img/vendor4.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/img/vendor5.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/img/vendor6.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
