@model UpdateFeatureDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="col-12">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Öne Çıkan Güncelleme Sayfası</h6>
            <div class="table-responsive">

                <form method="post">
                    <input type="hidden" class="form-control" asp-for="FeatureId" />

                    <label>
                        Öne Çıkan Başlık
                    </label>
                    <input type="text" class="form-control" asp-for="FeatureTitle" />
                    <label>
                        Öne Çıkan Alan İkonu
                    </label>
                    <input type="text" class="form-control" asp-for="FeatureIcon" />
                    <div class=" pt-2">
                        <button class="btn btn-primary"> Güncelle </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


