@model List<ResultBrandDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="container-fluid pt-4 px-4">
    <div class="col-12">
        <div class="bg-secondary rounded h-100 p-4">

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Marka Adı</th>
                            <th scope="col">Marka Görsel</th>
                            <th scope="col">Sil</th>
                            <th scope="col">Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <th scope="row">@count</th>
                                <td>@item.BrandName</td>
                                <td> <img  style="max-width:125px; max-height:65px;" src="@item.BrandImageUrl" /> </td>

                                <td><a href="/admin/Brand/deleteBrand/@item.BrandId" class="btn btn-danger"> Sil</a></td>
                                <td><a href="/admin/Brand/updateBrand/@item.BrandId" class="btn btn-success"> Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <td><a href="/admin/Brand/createBrand" class="btn btn-primary"> Yeni Marka girişi</a></td>

            </div>
        </div>
    </div>


</div>



