<div class="container-fluid pt-4 px-4">
    <div class="p-4">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
                <h5 class="mb-4">@ViewBag.v0</h5>
               
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-end">
                <i class="fa fa-home" aria-hidden="true"></i>  @ViewBag.v1  >   @ViewBag.v2  >  @ViewBag.v3


            </div>
        </div>
    </div>
</div>



 