@model UpdateProductDto
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<div class="container-fluid pt-4 px-4">
    <div class="col-12">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Ürün Güncelleme </h6>
            <div class="table-responsive">

                <form method="post">
                    <input type="hidden" class="form-control" asp-for="ProductId" />
                    <label>
                        Ürün Adı
                    </label>
                    <input type="text" class="form-control" asp-for="ProductName" />
                    <label>
                        Tutar
                    </label>
                    <input type="text" class="form-control" asp-for="ProductPrice" />
                    <label>
                        Resim
                    </label>
                    <input type="text" class="form-control" asp-for="ProductImageUrl" />
                    <label>
                        Kategori
                    </label>
                    @Html.DropDownListFor(category => category.CategoryId, (List<SelectListItem>)ViewBag.CategoryValues, new { @class = "form-control" })
                    @* <input type="" class="form-control" asp-for="ProductImageUrl" /> *@
                    <label>
                        Açıklama
                    </label>
                    <textarea class="form-control" asp-for="ProductDescription" rows="5"> </textarea>
                    @*  <input type="text" class="form-control" asp-for="ProductDescription" /> *@
                    <div class=" pt-2">
                        <button class="btn btn-primary"> Güncelle </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

